* {
  box-sizing: border-box;
}

html{
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;  
  justify-content: center;
  align-items: center;
  background-color: black;
}
.certyficate {
  margin: 0;
  height: 100%;
  width: 35%;
  background-image: url("./img/Certificate\ 2023_2_39\ -\ Łukasz\ Ruszkiewicz.png");
  background-size: cover;
  background-position: center;
}
